@import 'tailwindcss';

@theme {
	--color-primary: #8f2a2b;
	--color-secondary: #faa21b;
	--color-fadeblack: #282828;

	--font-optima: Optima, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@font-face {
	font-family: 'Optima';
	font-style: normal;
	font-weight: 900;
	src:
		local('Optima Black'),
		url('/fonts/optima/OptimaLTPro-Black.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Optima';
	font-style: italic;
	font-weight: 900;
	src:
		local('Optima Black Italic'),
		url('/fonts/optima/OptimaLTPro-BlackItalic.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Optima';
	font-style: normal;
	font-weight: 700;
	src:
		local('Optima Bold'),
		url('/fonts/optima/OptimaLTPro-Bold.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Optima';
	font-style: italic;
	font-weight: 700;
	src:
		local('Optima Bold Italic'),
		url('/fonts/optima/OptimaLTPro-BoldItalic.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Optima';
	font-style: normal;
	font-weight: 600;
	src:
		local('Optima DemiBold'),
		url('/fonts/optima/OptimaLTPro-DemiBold.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Optima';
	font-style: italic;
	font-weight: 600;
	src:
		local('Optima DemiBold Italic'),
		url('/fonts/optima/OptimaLTPro-DemiBoldItalic.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Optima';
	font-style: normal;
	font-weight: 800;
	src:
		local('Optima ExtraBlack'),
		url('/fonts/optima/OptimaLTPro-ExtraBlack.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Optima';
	font-style: italic;
	font-weight: 400;
	src:
		local('Optima Italic'),
		url('/fonts/optima/OptimaLTPro-Italic.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Optima';
	font-style: normal;
	font-weight: 500;
	src:
		local('Optima Medium'),
		url('/fonts/optima/OptimaLTPro-Medium.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Optima';
	font-style: italic;
	font-weight: 500;
	src:
		local('Optima Medium Italic'),
		url('/fonts/optima/OptimaLTPro-MediumItalic.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Optima';
	font-style: normal;
	font-weight: 400;
	src:
		local('Optima Roman'),
		url('/fonts/optima/OptimaLTPro-Roman.otf') format('opentype');
	font-display: swap;
}
